input {
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 1.6rem;
    margin-left: 20px;
}

input:hover {
    border: 2px solid green;
}

label {
    color: white;
    padding-right: 20px;
}
