:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    width: 100%;
    height: 100%;
    background-color: rgb(99, 99, 99);
}
